@model ShadracPhoneRepairFinial1.Models.WalkInRequest

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/BlankLayout.cshtml";
}

<h1>Create</h1>

<h4>WalkInRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="BrandName" class="control-label"></label>
                <input asp-for="BrandName" class="form-control" />
                <span asp-validation-for="BrandName" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="DeviceProblemId" class="control-label"></label>
                <select asp-for="DeviceProblemId" class ="form-control" asp-items="ViewBag.DeviceProblemId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DeviceDescriptionId" class="control-label"></label>
                <select asp-for="DeviceDescriptionId" class ="form-control" asp-items="ViewBag.DeviceDescriptionId"></select>
            </div>
            <div class="form-group">
                <label asp-for="StorageId" class="control-label"></label>
                <select asp-for="StorageId" class ="form-control" asp-items="ViewBag.StorageId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ColourId" class="control-label"></label>
                <select asp-for="ColourId" class ="form-control" asp-items="ViewBag.ColourId"></select>
            </div>
            <div class="form-group">
                <label asp-for="IMEI" class="control-label"></label>
                <input asp-for="IMEI" class="form-control" />
                <span asp-validation-for="IMEI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WalkInDate" class="control-label"></label>
                <input asp-for="WalkInDate" class="form-control" />
                <span asp-validation-for="WalkInDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WalkInTimesId" class="control-label"></label>
                <select asp-for="WalkInTimesId" class ="form-control" asp-items="ViewBag.WalkInTimesId"></select>
            </div>
            @*<div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentStatusId" class="control-label"></label>
                <select asp-for="PaymentStatusId" class ="form-control" asp-items="ViewBag.PaymentStatusId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CApprovalMessagesId" class="control-label"></label>
                <select asp-for="CApprovalMessagesId" class ="form-control" asp-items="ViewBag.CApprovalMessagesId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ApprovalMessagesId" class="control-label"></label>
                <select asp-for="ApprovalMessagesId" class ="form-control" asp-items="ViewBag.ApprovalMessagesId"></select>
            </div>
            <div class="form-group">
                <label asp-for="UserEmail" class="control-label"></label>
                <input asp-for="UserEmail" class="form-control" />
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeviceProblems" class="control-label"></label>
                <input asp-for="DeviceProblems" class="form-control" />
                <span asp-validation-for="DeviceProblems" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeviceNames" class="control-label"></label>
                <input asp-for="DeviceNames" class="form-control" />
                <span asp-validation-for="DeviceNames" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeviceCapacity" class="control-label"></label>
                <input asp-for="DeviceCapacity" class="form-control" />
                <span asp-validation-for="DeviceCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeviceColors" class="control-label"></label>
                <input asp-for="DeviceColors" class="form-control" />
                <span asp-validation-for="DeviceColors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>*@
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
