@model ShadracPhoneRepairFinial1.Models.Request

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/BlankLayout.cshtml";
}

<h1>Edit</h1>

<h4>Request</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RequestId" />
            @*<div class="form-group">
                <label asp-for="BrandName" class="control-label"></label>
                <input asp-for="BrandName" class="form-control" />
                <span asp-validation-for="BrandName" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="DeviceProblemId" class="control-label"></label>
                <select asp-for="DeviceProblemId" class="form-control" asp-items="ViewBag.DeviceProblemId"></select>
                <span asp-validation-for="DeviceProblemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeviceDescriptionId" class="control-label"></label>
                <select asp-for="DeviceDescriptionId" class="form-control" asp-items="ViewBag.DeviceDescriptionId"></select>
                <span asp-validation-for="DeviceDescriptionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StorageId" class="control-label"></label>
                <select asp-for="StorageId" class="form-control" asp-items="ViewBag.StorageId"></select>
                <span asp-validation-for="StorageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColourId" class="control-label"></label>
                <select asp-for="ColourId" class="form-control" asp-items="ViewBag.ColourId"></select>
                <span asp-validation-for="ColourId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IMEI" class="control-label"></label>
                <input asp-for="IMEI" class="form-control" />
                <span asp-validation-for="IMEI" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequestDateTime" class="control-label"></label>
                <input asp-for="RequestDateTime" class="form-control" />
                <span asp-validation-for="RequestDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentStatusId" class="control-label"></label>
                <select asp-for="PaymentStatusId" class="form-control" asp-items="ViewBag.PaymentStatusId"></select>
                <span asp-validation-for="PaymentStatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CApprovalMessagesId" class="control-label"></label>
                <select asp-for="CApprovalMessagesId" class="form-control" asp-items="ViewBag.CApprovalMessagesId"></select>
                <span asp-validation-for="CApprovalMessagesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApprovalMessagesId" class="control-label"></label>
                <select asp-for="ApprovalMessagesId" class="form-control" asp-items="ViewBag.ApprovalMessagesId"></select>
                <span asp-validation-for="ApprovalMessagesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserEmail" class="control-label"></label>
                <input asp-for="UserEmail" class="form-control" />
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

