@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}



<div class="header-info text-center">
    <h1>Welcome To Shadrac Tech Repair</h1>
    <h2>Lets make it work again</h2>
    



</div>



<!-- intro -->
<div id="intro" class="intro text-center">
    <div class="container">
        <!-- head-section -->
        <div class="head-section text-center">
            <h2>Meet us</h2>
            <span> </span>
        </div>
        <!-- /head-section -->
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
        <a href="#services" class="scroll"><label class="downarrow1"> </label></a>
    </div>
</div>

<!-- services -->
<div id="services" class="services text-center">
    <div class="container">
        <!-- head-section -->
        <div class="head-section text-center">
            <h2>Service</h2>
            <span> </span>
        </div>
        <!-- /head-section -->
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
        <!-- service-grids -->
        <div class="service-grids">
            <div class="col-md-4 service-grid text-center">
                <span class="s-icon"> </span>
                <h4>BRANDING</h4>
                <p>Accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.</p>
            </div>
            <div class="col-md-4 service-grid text-center">
                <span class="s-icon1"> </span>
                <h4>WEB DEVELOPMENT</h4>
                <p>Accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.</p>
            </div>
            <div class="col-md-4 service-grid text-center">
                <span class="s-icon2"> </span>
                <h4>APP DESIGN</h4>
                <p>Accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.</p>
            </div>
            <div class="clearfix"> </div>
        </div>
        <!-- service-grids -->
        <a href="#projects" class="scroll"><label class="downarrow1"> </label></a>
    </div>
</div>
<!-- services -->
<!-- about-us -->
<div id="about" class="about-us text-center">
    <div class="container">
        <!-- head-section -->
        <div class="head-section text-center">
            <h2>About us</h2>
            <span> </span>
        </div>
        <!-- /head-section -->
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
        <!-- about-grids -->
        <div class="about-grids">
            <div class="col-md-3 about-grid text-center">
                <div class="about-grid-info">
                    <img src="~/Temp CSS/images/about-pic1.png" title="name" />
                    <h4>Mike</h4>
                    <span>CEO / Founder</span>
                    <label> </label>
                </div>
                <div class="about-grid-caption">
                    <h5>WE ARE HIRING!</h5>
                    <span> </span>
                </div>
            </div>
            <div class="col-md-3 about-grid text-center">
                <div class="about-grid-info">
                    <img src="~/Temp CSS/images/about-pic2.png" title="name" />
                    <h4>Taylor</h4>
                    <span>Graphic Designer</span>
                    <label> </label>
                </div>
                <div class="about-grid-caption">
                    <h5>WE ARE HIRING!</h5>
                    <span> </span>
                </div>
            </div>
            <div class="col-md-3 about-grid text-center">
                <div class="about-grid-info">
                    <img src="~/Temp CSS/images/about-pic3.png" title="name" />
                    <h4>James</h4>
                    <span>Copywriter</span>
                    <label> </label>
                </div>
                <div class="about-grid-caption">
                    <h5>WE ARE HIRING!</h5>
                    <span> </span>
                </div>
            </div>
            <div class="col-md-3 about-grid text-center">
                <div class="about-grid-info">
                    <img src="~/Temp CSS/images/about-pic1.png" title="name" />
                    <h4>Mike</h4>
                    <span>CEO / Founder</span>
                    <label> </label>
                </div>
                <div class="about-grid-caption">
                    <h5>WE ARE HIRING!</h5>
                    <span> </span>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <!-- about-grids -->
        <a href="#contact" class="scroll"><label class="downarrow1"> </label></a>
    </div>

</div>
<!-- about-us -->
<!-- clients -->
<div class="clients">
    <div class="container">
        <!-- head-section -->
        <div class="head-section text-center">
            <h2>Our partners</h2>
            <span> </span>
        </div>
        <!-- /head-section -->
        <!-- client-list -->
        <div class="client-list text-center">
            <ul>
                <li><a href="#"><img src="~/Temp CSS/images/c-logo.png" title="adidas" /></a></li>
                <li><a href="#"><img src="~/Temp CSS/images/c-logo1.png" title="google" /></a></li>
                <li><a href="#"><img src="~/Temp CSS/images/c-logo2.png" title="samsung" /></a></li>
                <li><a href="#"><img src="~/Temp CSS/images/c-logo3.png" title="microsoft" /></a></li>
            </ul>
        </div>
        <!-- /client-list -->
    </div>
</div>
<!-- clients -->
