@model ShadracPhoneRepairFinial1.Models.SupplierPart

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/BlankLayout.cshtml";
}

<h1>Create</h1>

<h4>SupplierPart</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PartsId" class="control-label"></label>
                <select asp-for="PartsId" class ="form-control" asp-items="ViewBag.PartsId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SupplierId" class="control-label"></label>
                <select asp-for="SupplierId" class ="form-control" asp-items="ViewBag.SupplierId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PartSupplied_Date" class="control-label"></label>
                <input asp-for="PartSupplied_Date" class="form-control" />
                <span asp-validation-for="PartSupplied_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartSupplied_Quantity" class="control-label"></label>
                <input asp-for="PartSupplied_Quantity" class="form-control" />
                <span asp-validation-for="PartSupplied_Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

